@charset "UTF-8";
@font-face { 
	font-family: 'FonteLogo';
	src: url("../_fontes/GROBOLD.ttf");
}
@font-face {
	font-family: 'FonteUL';
	src: url("../_fontes/MilkyNice.ttf");
}
body {
	background-color: rgb(251, 251, 143);
	}
	
div#interface {
	width: 1000px;
	background-color: #f7f7f7;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px rgb(132, 44, 105);
}

header#cabecalho img#icone{
	position: absolute;
	left: 980px;
	top: 20px;
	padding: 15px;
}

header#cabecalho {
	border-bottom: 3px pink dotted;
	height: 150px;
}

header#cabecalho h1 {
	font-family: 'FonteLogo';
	font-size: 40pt;
	color: #037b9e;
	padding: 5px;
}

header#cabecalho h2 {
	font-family: 'FonteUL';
	font-size: 16pt;
	color: salmon;
	padding: 0px;
	margin-top: 0px;
}

/* FORMATAÇÃO MENU */

nav#menu {
	display: block;
}

nav#menu ul {
	list-style: none;
	position: absolute;
	top: 80px;
}

nav#menu li {
	display: inline-block;
	background-color: pink;
	padding: 3px;
	text-align: center;
	transition: background-color 1s;
}

nav#menu li:hover {
	background-color: #FFF0F5;
}

nav#menu h1 {
	display: none;
}

nav#menu a{
	color: darkmagenta;
	text-decoration: none;
}

nav#menu a:hover {
	color: darkcyan;
}

section#corpo {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	width: 720px;
	float: left;
	border-right: 3px dotted pink;
}

table#tabelahora {
	border: 1px solid black;
	border-spacing: 0px;
	margin-left: auto;
	margin-right: auto;
}

table#tabelahora td {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
}

aside#lateral {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
	width: 250px;
	float: right;
}

footer#rodape {
	clear: both;
	border-top: 3px dotted pink;
}

footer#rodape p {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}